ProductionMachineLearning/data
ProductionMachineLearning/training_checkpoints
ProductionMachineLearning/saved_model
ProductionMachineLearning/logs
ImageUnderstandingOnGoogleCloud/LinearModelEstimator/mnist